{%extends 'base.html'%}
{%load static%}
{%block content%}

<div class="container mt-5 pt-5">
    <div class="row text-center">
        <div class="col-md-6">
            <h1 class="display-4">About Us</h1>
            <p class="lead">We are a team of passionate individuals working together to make a difference. Our mission is to provide excellent products and services that meet the needs of our customers.</p>
            <p>We believe in innovation, creativity, and quality. We are committed to building a lasting relationship with our customers, partners, and community.</p>
        </div>
        <div class="col-md-6">
            <img src="{%static 'galery\ewien-van-bergeijk-kwant-MxHZsxjkJ8I-unsplash.jpg'%}" style="height: 400px;" alt="Our Team" class="img-fluid rounded">
        </div>
    </div>
</div>


{%endblock%}